/* #110f12	(17,15,18) */
/* #181e36	(24,30,54) */
/* #481952	(72,25,82) */
/* #ac7ee0	(172,126,224) */
/* #4755aa	(71,85,170) */

a {
	cursor: pointer;
}

.livelog-navigation {
	position: fixed;
	background-color: #110f12;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	border-right: 1px solid #4755aa;
	padding: 10px;
}

.livelog-navigation-title {
	color: #ac7ee0;
	text-align: center;
}

.livelog-navigation .list-group a {
	width: 200px;
	text-align: left;
	word-break: break-all;
}

.livelog-analysis {
	position: fixed;
	background-color: #110f12;
	bottom: 0px;
	right: 0px;
	left: 200px;
	height: 50px;
	border-top: 1px solid #4755aa;
	padding: 15px;
}

.livelog-header {
	position: fixed;
	background-color: #110f12;
	top: 0px;
	right: 0px;
	left: 200px;
	height: 43px;
	border-bottom: 1px solid #4755aa;
	padding: 6px 15px;
}

.livelog-header .livelog-header-filename {
	color: #ac7ee0;
}

.livelog-header .livelog-header-filename h4 {
	margin-top: 5px;
}

.livelog-content {
	position: fixed;
	top: 43px;
	right: 0px;
	left: 200px;
	bottom: 50px;
	background-color: #110f12;
	padding: 0px 15px;
	color: white;
}

.livelog-content .col-xs-1 {
	background-color: #181e36;
	border-right: 1px solid #4755aa;
	text-align: right;
}

.livelog-content #mdVerticalContainer,
.livelog-content #mdVerticalContainerAnalytics {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: auto;
}

.livelog-search {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 36px;
	background-color: white;
	border: solid #4755aa;
	border-width: 0px 0px 2px 2px;
	border-radius: 0px 0px 0px 10px;
}

.livelog-search .btn {
	position: fixed;
	top: 7px;
	right: 210px;
}

.livelog-search input {
	background-color: transparent;
	border: 0px;
}

.livelog-grouping {
	cursor: pointer;
}

.livelog-grouping-count {
	font-size: 25px;
	position: absolute;
	top: -8px;
	margin-left: 5px;
}

.livelog-analytics-header {
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.livelog-analytics-content {
	padding: 10px;
}

.livelog-analytics-content:nth-child(even) {
	background-color: #181e36;
}
